<div class="row-fluid">
    <div class="span6">
		<h1>State</h1>
		{{ _('Magnet PNP State') }}: <strong data-bind="text: stateString"></strong><br>
		{{ _('Current operation') }}: <strong data-bind="text: currentOperation"></strong><br>
		{{ _('DEBUG') }}: <strong data-bind="text: debugvar"></strong><br>
	</div>
</div>




<br>
<div class="accordion" id="camera-accordion">
    <div class="accordion-group">

        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tray"><h5>Tray</h5></a>
        </div>
        <div id="tray" class="accordion-body collapse in">
            <div class="accordion-inner">
				<div class="row-fluid">
				    <div class="span12">
				    	<canvas id="trayCanvas" width="500" height="250"></canvas>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>	